export("all_neighbors",
       "ave2",
       "colClasses",
       "double_quote",
       "exit",
       "find_duplicates",
       "flatten_csv",
       "flip",
       "group_words",
       "is.directory",
       "make_observer",
       "match_intervals",
       "maybe",
       "match1of",
       "mkdir",
       "nfields",
       "noop",
       "nuniq",
       "one_per_element",
       "one_per_row",
       "pr",
       "pr1",
       "read.tables",
       "rename",
       "rev_map",
       "single_quote",
       "submatch",
       "wait_until",
       "wrap_lines")
