useDynLib(miscFun)

export("all_neighbors",
       "ave2",
       "cluster1d",
       "colClasses",
       "count_points_per_interval",
       "double_quote",
       "exit",
       "find_duplicates",
       "find_first_match",
       "flatten_csv",
       "flip",
       "group_words",
       "gzhead",
       "is.directory",
       "make_observer",
       "match1of",
       "match_intervals",
       "maybe",
       "mkdir",
       "nfields",
       "noop",
       "nsubexp",
       "nuniq",
       "one_per_element",
       "one_per_row",
       "order_intervals",
       "pr",
       "pr1",
       "rcpp_find_matching_intervals",
       "read.tables",
       "rename",
       "rev_map",
       "same_length",
       "single_quote",
       "sort_intervals",
       "submatch",
       "wait_until",
       "wrap_lines")

importFrom(Rcpp, evalCpp)
